In [1]:
import pandas as pd
import numpy as np
import math

import matplotlib.pyplot as plt
%matplotlib inline
import os

graph_path = ('data/graph/')

In [2]:
countries = set()

In [3]:
path = 'data/2050/SSP2'

In [4]:
files = os.listdir(path)
files[:5]

['SSP2_Guinea.csv',
 'SSP2_Somalia.csv',
 'SSP2_Azerbaijan.csv',
 'SSP2_Brazil.csv',
 'SSP2_United States of America.csv']

In [5]:
for file in files:
    countries.add(file[5:-4])
len(countries)

181

In [6]:
countries = list(countries)
countries[:10]

['Nepal',
 'Uruguay',
 'Paraguay',
 'Luxembourg',
 'Belarus',
 'Kosovo',
 'Equatorial Guinea',
 'El Salvador',
 'The Bahamas',
 'Ireland']

In [7]:

gdp = pd.read_csv(graph_path + 'gdp_2017.csv', na_values=[0])#.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

c = list(gdp['Country'])

r = [country for country in countries if country in c]
bibi = gdp[gdp['Country'].isin(r)]
#bibi[bibi['gdp2017'].isna()]
gdp = gdp.drop('Unnamed: 0', axis=1)
gdp

                                 Country       gdp2017
0                            Afghanistan    585.850064
1                                 Angola   4170.312280
2                                Albania   4537.862492
3                   United Arab Emirates  40698.849336
4                              Argentina  14401.974855
5                                Armenia   3936.798320
6                             Antarctica           NaN
7    French Southern and Antarctic Lands           NaN
8                              Australia  53799.938090
9                                Austria  47290.911650
10                            Azerbaijan   4131.618310
11                               Burundi    320.086870
12                               Belgium  43323.807336
13                                 Benin    829.797231
14                          Burkina Faso    670.705913
15                            Bangladesh   1516.513423
16                              Bulgaria   8031.598442
17                           The Bahamas           NaN
18                Bosnia and Herzegovina   5180.636301
19                               Belarus   5726.029673
20                                Belize   4905.506284
21                               Bolivia   3393.955818
22                                Brazil   9821.407686
23                                Brunei           NaN
24                                Bhutan   3110.230113
25                              Botswana   7595.595850
26              Central African Republic    418.411287
27                                Canada  45032.119908
28                           Switzerland  80189.696861
29                                 Chile  15346.449700
..                                   ...           ...
147                             Suriname   5900.556486
148                             Slovakia           NaN
149                             Slovenia  23597.291726
150                               Sweden  53442.008281
151                            Swaziland           NaN
152                                Syria           NaN
153                                 Chad    669.886426
154                                 Togo    617.176610
155                             Thailand   6593.819806
156                           Tajikistan    800.966964
157                         Turkmenistan   7355.831345
158                           East Timor           NaN
159                  Trinidad and Tobago  16145.184573
160                              Tunisia   3490.828293
161                               Turkey  10540.617999
162                               Taiwan           NaN
163          United Republic of Tanzania           NaN
164                               Uganda    604.042748
165                              Ukraine   2639.824326
166                              Uruguay  16245.598368
167             United States of America  59531.661964
168                           Uzbekistan   1504.226546
169                            Venezuela           NaN
170                              Vietnam   2343.124575
171                              Vanuatu   3123.614592
172                            West Bank           NaN
173                                Yemen           NaN
174                         South Africa   6160.734569
175                               Zambia   1509.797013
176                             Zimbabwe   1079.608291

[177 rows x 2 columns]

In [8]:
gdp.to_csv(graph_path + 'gdp_2017.csv')

In [9]:
graph_path = 'data/graph/'

country_ssp1 = pd.read_csv(graph_path + 'graph_country_data_ssp1.csv', na_values=[0, np.inf])
country_ssp2 = pd.read_csv(graph_path + 'graph_country_data_ssp2.csv', na_values=[0, np.inf])
country_ssp3 = pd.read_csv(graph_path + 'graph_country_data_ssp3.csv', na_values=[0, np.inf])
country_ssp4 = pd.read_csv(graph_path + 'graph_country_data_ssp4.csv', na_values=[0, np.inf])
country_ssp5 = pd.read_csv(graph_path + 'graph_country_data_ssp5.csv', na_values=[0, np.inf])

continent_ssp1 = pd.read_csv(graph_path + 'graph_continent_data_ssp1.csv', na_values=[0, np.inf])
continent_ssp2 = pd.read_csv(graph_path + 'graph_continent_data_ssp2.csv', na_values=[0, np.inf])
continent_ssp3 = pd.read_csv(graph_path + 'graph_continent_data_ssp3.csv', na_values=[0, np.inf])
continent_ssp4 = pd.read_csv(graph_path + 'graph_continent_data_ssp4.csv', na_values=[0, np.inf])
continent_ssp5 = pd.read_csv(graph_path + 'graph_continent_data_ssp5.csv', na_values=[0, np.inf])

country_ssp1.head()

,country,Calories 2000,Population 2000,Calory requirements 2000,Cropland (%) 2000,Sufficiency (%) 2000,Percentage of total cal 2000,Yield 2000,Calories 2050,Population 2050,Calory requirements 2050,Cropland (%) 2050,Sufficiency (%) 2050,Percentage of total cal 2050,Yield 2050,ΔCalories (%),ΔPopulation (%),ΔCalory requirements (%),ΔYield (%)
0,Afghanistan,2.283608e+16,1.944503e+07,1.671446e+16,15.554691,136.624695,0.135345,2.473385e+09,1.792957e+16,5.714888e+07,4.912375e+16,13.424788,36.498785,0.139640,2.530081e+09,-20.832801,193.899720,193.899720,2.292271
1,Albania,1.006859e+16,2.927077e+06,2.516042e+15,50.130491,400.175647,0.059674,6.714505e+09,7.782159e+15,2.911399e+06,2.502566e+15,48.722691,310.967188,0.060609,5.494264e+09,-22.708535,-0.535609,-0.535609,-18.173205
2,Algeria,2.037171e+16,2.564769e+07,2.204612e+16,16.241037,92.404971,0.120739,5.088947e+08,5.520070e+16,3.769740e+07,3.240374e+16,28.942625,170.352868,0.429917,4.550628e+09,171.042786,46.981631,46.981631,794.217896
3,Angola,1.306303e+16,1.417293e+07,1.218270e+16,6.381354,107.226094,0.077422,1.874494e+09,1.539123e+16,3.028268e+07,2.603024e+16,7.669518,59.128253,0.119871,2.157056e+09,21.030164,113.665647,113.665647,15.074016
4,Argentina,4.744144e+17,3.203618e+07,2.753750e+16,33.925728,1722.794086,2.811758,6.539490e+09,2.794709e+17,3.774754e+07,3.244684e+16,39.429709,861.319156,2.176592,4.484520e+09,-41.021434,17.827837,17.827837,-31.424010

In [10]:
columns = ['Country', 'Calories2000', 'Population2000', 'Caloryrequirements2000',
       'Cropland2000', 'Sufficiency2000', 'Percentageoftotalcal2000',
       'Yield2000', 'Calories2050', 'Population2050', 'Caloryrequirements2050',
       'Cropland2050', 'Sufficiency2050', 'Percentageoftotalcal2050',
       'Yield2050', 'diffCalories', 'diffPopulation', 'diffCaloryrequirements',
       'diffYield']

In [17]:
country_ssp1.columns = columns
country_ssp2.columns = columns
country_ssp3.columns = columns
country_ssp4.columns = columns
country_ssp5.columns = columns

continent_ssp1.columns = columns
continent_ssp2.columns = columns
continent_ssp3.columns = columns
continent_ssp4.columns = columns
continent_ssp5.columns = columns


world_ssp1 = pd.DataFrame(country_ssp1.apply({'Country':np.sum, 'Calories2000':np.sum, 'Population2000':np.sum, 'Caloryrequirements2000':np.sum,
       'Cropland2000':np.mean, 'Sufficiency2000':np.mean, 'Percentageoftotalcal2000':np.mean,
       'Yield2000':np.sum, 'Calories2050':np.sum, 'Population2050':np.sum, 'Caloryrequirements2050':np.sum,
       'Cropland2050':np.mean, 'Sufficiency2050':np.mean, 'Percentageoftotalcal2050':np.mean,
       'Yield2050':np.mean, 'diffCalories':np.mean, 'diffPopulation':np.mean, 'diffCaloryrequirements':np.mean,
       'diffYield':np.mean})).transpose()
world_ssp2 = pd.DataFrame(country_ssp2.apply({'Country':np.sum, 'Calories2000':np.sum, 'Population2000':np.sum, 'Caloryrequirements2000':np.sum,
       'Cropland2000':np.mean, 'Sufficiency2000':np.mean, 'Percentageoftotalcal2000':np.mean,
       'Yield2000':np.sum, 'Calories2050':np.sum, 'Population2050':np.sum, 'Caloryrequirements2050':np.sum,
       'Cropland2050':np.mean, 'Sufficiency2050':np.mean, 'Percentageoftotalcal2050':np.mean,
       'Yield2050':np.mean, 'diffCalories':np.mean, 'diffPopulation':np.mean, 'diffCaloryrequirements':np.mean,
       'diffYield':np.mean})).transpose()
world_ssp3 = pd.DataFrame(country_ssp3.apply({'Country':np.sum, 'Calories2000':np.sum, 'Population2000':np.sum, 'Caloryrequirements2000':np.sum,
       'Cropland2000':np.mean, 'Sufficiency2000':np.mean, 'Percentageoftotalcal2000':np.mean,
       'Yield2000':np.sum, 'Calories2050':np.sum, 'Population2050':np.sum, 'Caloryrequirements2050':np.sum,
       'Cropland2050':np.mean, 'Sufficiency2050':np.mean, 'Percentageoftotalcal2050':np.mean,
       'Yield2050':np.mean, 'diffCalories':np.mean, 'diffPopulation':np.mean, 'diffCaloryrequirements':np.mean,
       'diffYield':np.mean})).transpose()
world_ssp4 = pd.DataFrame(country_ssp4.apply({'Country':np.sum, 'Calories2000':np.sum, 'Population2000':np.sum, 'Caloryrequirements2000':np.sum,
       'Cropland2000':np.mean, 'Sufficiency2000':np.mean, 'Percentageoftotalcal2000':np.mean,
       'Yield2000':np.sum, 'Calories2050':np.sum, 'Population2050':np.sum, 'Caloryrequirements2050':np.sum,
       'Cropland2050':np.mean, 'Sufficiency2050':np.mean, 'Percentageoftotalcal2050':np.mean,
       'Yield2050':np.mean, 'diffCalories':np.mean, 'diffPopulation':np.mean, 'diffCaloryrequirements':np.mean,
       'diffYield':np.mean})).transpose()
world_ssp5 = pd.DataFrame(country_ssp5.apply({'Country':np.sum, 'Calories2000':np.sum, 'Population2000':np.sum, 'Caloryrequirements2000':np.sum,
       'Cropland2000':np.mean, 'Sufficiency2000':np.mean, 'Percentageoftotalcal2000':np.mean,
       'Yield2000':np.sum, 'Calories2050':np.sum, 'Population2050':np.sum, 'Caloryrequirements2050':np.sum,
       'Cropland2050':np.mean, 'Sufficiency2050':np.mean, 'Percentageoftotalcal2050':np.mean,
       'Yield2050':np.mean, 'diffCalories':np.mean, 'diffPopulation':np.mean, 'diffCaloryrequirements':np.mean,
       'diffYield':np.mean})).transpose()


worlds = [world_ssp1, world_ssp2, world_ssp3, world_ssp4, world_ssp5]

for world in worlds:
    world['Country'] = 'World'
    world['diffCalories'] = 100*(world['Calories2050'] - world['Calories2000']) / world['Calories2000']
    world['diffPopulation'] = 100*(world['Population2050'] - world['Population2000']) / world['Population2000']
    world['diffCaloryrequirements'] = 100*(world['Caloryrequirements2050'] - world['Caloryrequirements2000']) / world['Caloryrequirements2000']

In [18]:
pd.DataFrame(world_ssp5)

,Country,Calories2000,Population2000,Caloryrequirements2000,Cropland2000,Sufficiency2000,Percentageoftotalcal2000,Yield2000,Calories2050,Population2050,Caloryrequirements2050,Cropland2050,Sufficiency2050,Percentageoftotalcal2050,Yield2050,diffCalories,diffPopulation,diffCaloryrequirements,diffYield
0,World,1.68725e+19,5.56107e+09,4.78016e+18,32.7654,406.339,0.606061,8.70212e+11,1.41345e+19,7.61328e+09,6.54418e+18,35.3348,283.174,0.574713,4.80145e+09,-16.228,36.903,36.903,53.8602

In [19]:
ssp1 = pd.concat([country_ssp1, continent_ssp1, world_ssp1]).reset_index(drop=True)
ssp2 = pd.concat([country_ssp2, continent_ssp2, world_ssp2]).reset_index(drop=True)
ssp3 = pd.concat([country_ssp3, continent_ssp3, world_ssp3]).reset_index(drop=True)
ssp4 = pd.concat([country_ssp4, continent_ssp4, world_ssp4]).reset_index(drop=True)
ssp5 = pd.concat([country_ssp5, continent_ssp5, world_ssp5]).reset_index(drop=True)

In [20]:
data1 = pd.merge(ssp1, gdp, how='outer', on='Country')
data2 = pd.merge(ssp2, gdp, how='outer', on='Country')
data3 = pd.merge(ssp3, gdp, how='outer', on='Country')
data4 = pd.merge(ssp4, gdp, how='outer', on='Country')
data5 = pd.merge(ssp5, gdp, how='outer', on='Country')

In [21]:
datas = [data1, data2, data3, data4, data5]
for data in datas:
    data['diffCropland'] = 100*(data['Cropland2050'] - data['Cropland2000']) / data['Cropland2000']

In [22]:
data1.to_csv(graph_path + 'SSP1.csv')
data2.to_csv(graph_path + 'SSP2.csv')
data3.to_csv(graph_path + 'SSP3.csv')
data4.to_csv(graph_path + 'SSP4.csv')
data5.to_csv(graph_path + 'SSP5.csv')